body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

a {
  color: #007bff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  
}

/* Add media query for responsiveness */
@media only screen and (max-width: 600px) {
  header img {
      width: 100%;
  }

  nav ul {
      text-align: center;
  }

  nav ul li {
      display: block;
      margin: 10px 0;
  }

  main {
      padding: 15px;
  }
}
